// Page colours
$background-colour: #ededed;
$console-nav-colour: #d7c05e;
$console-nav-shadow-colour: 4px 0 40px darken($background-colour, 15%);

// Other colours
$colour-white: #fefefe;
$colour-grey: #cecece;
$colour-black: #000;
